[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
flask-login = "*"
email-validator = "*"
flask-jwt-extended = "*"
bleach = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.10"
